{{ define "blogs" }}
<html lang="en">
{{ template "head" . }}
<body>
{{ template "nav" . }}
<main>
    <h2>Blogs</h2>
    <p>
        {{ .Description }}
    </p>
    <p>
        {{ .NoBlogs }} blogs found. Showing newest first.
    </p>
    <hr>
    {{- range .blogs -}}
    <section class="blog-row">
        <a href="/blog/{{- .ID -}}" class="ref-name">{{- .Title -}}</a>
        <span class="date">{{- .Date -}}</span>
        <p >{{- .Desc -}}</p>
    </section>
    <hr>
    {{ end }}
</main>
</body>
</html>
{{ end }}