{{ define "blogs" }}
<html lang="en">
{{ template "head" . }}
<body>
{{ template "nav" . }}
<main>
    <h1>Blogs</h1>
    {{ if .Desc }}
    <p>
        {{ .Desc }}
    </p>
    {{ end }}
    <hr>
    {{ range .Blogs }}
    <section>
        <a href="/blog/{{ .ID }}" class="index-name">{{ .Name }}</a>
        <span style="margin: 0 10px;">{{ .Date }}</span>
        <br>
        <span style="text-align: justify; width: 100% !important;" class="desc">{{ .Desc }}</span>
        <hr>
    </section>
    {{ end }}
</main>
</body>
</html>
{{ end }}