{{ define "nav" }}
<header>
    <div>
        <h1>Sophie Kisiel</h1>
        <nav>
            <a href="/" ><button ><b class="icon">h</b> Home</button></a>
            <a href="/blog/"><button ><b class="icon">b</b> Blog</button></a>
            <a href="/animations/"><button ><b class="icon">a</b> Art</button></a>
            <a href="//sophuwu.site/"><button ><b class="icon">g</b> Git</button></a>
            <button onclick="toggle_theme()"><b class="icon">s/m</b></button>
        </nav>
    </div>
    <hr >
</header>
{{ end }}