@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Victor+Mono:wght@100..700&display=swap');
:root {
    font-variant-ligatures: none!important;
    font-size: 18px;
    @media (min-width: 2000px) {
        font-size: 22px;
    }
    @media (max-width: 2000px) and (min-width: 1500px) {
        font-size: 20px;
    }
    @media (max-width: 1500px) and (min-width: 1200px) {
        font-size: 18px;
    }
    @media (max-width: 1200px) and (min-width: 800px) {
        font-size: 16px;
    }

    @media (max-width: 800px) and (min-width: 600px) {
        font-size: 14px;
    }
    @media (max-width: 600px) and (min-width: 400px) {
        font-size: 12px;
    }
    @media (max-width: 400px) {
        font-size: 10px;
    }
}

html, body, p {
	font-family: "Ubuntu Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6, button, a{
	font-family:   "Comfortaa", cursive;
}
pre, code {
	font-family: "Victor Mono", monospace;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: calc(100% - 50px);
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    height: auto;
    max-height: max-content;
}

header {
    padding: 0;
    margin: 0;
    display: block;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: inherit;
}
header > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
header a {
    display: contents;
}

header h1 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
header h1::before {
    content: ' ';
    display: inline-block;
    width: 0.9em;
    aspect-ratio: 1;
    transform: translateY(0.1em);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("/static/favicon.webp");
    padding: 0;
    margin: 0 0.25ch 0 0;
}
header nav {
    margin: 0 0 0 auto;
}

hr {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

button:hover {
    transform: translateY(-2px);
}
button:active {
    transform: translateY(0);
}
button {
    border-radius: 1ch;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5ch 1ch;
    margin: 0 0 0 0.5ch;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

@font-face {
    font-family: "sophuwuicons";
    src: url("/static/icons.woff2") format("woff2"),
    url("/static/icons.ttf") format("truetype")

}

.icon {
    font-family: "sophuwuicons";
    font-size: inherit;
    font-weight: normal!important;
    font-style: normal;
    height: 1em;
}